<!--
Copy or symlink to /Library/LaunchDaemons
Load using `sudo launchctl load /Library/LaunchDaemons/com.rystraum.stocks-updater.plist`
Unload using `sudo launchctl unload /Library/LaunchDaemons/com.rystraum.stocks-updater.plist`
See status using either `sudo launchctl list | grep rystraum` or `sudo launchctl print system/com.rystraum.stocks-updater`
-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.rystraum.stocks-updater</string>

  <key>WorkingDirectory</key>
  <string>/Users/rystraum/Code/personal/stocks-portfolio</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-ilc</string>
    <string>echo ${HOME}; source $HOME/.zshrc; echo ${PATH}; date; cd /Users/rystraum/Code/personal/stocks-portfolio; rbenv rehash; type -a ruby; which ruby; rbenv version; which bundler; which gem; bundle exec rails runner "PriceUpdateCompanies.new.run_from_console" >> /Users/rystraum/Code/personal/stocks-portfolio/log/launchd.log</string>
  </array>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>0</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>StandardErrorPath</key>
  <string>/Users/rystraum/Code/personal/stocks-portfolio/log/launchd.error.log</string>

  <key>StandardOutPath</key>
  <string>/Users/rystraum/Code/personal/stocks-portfolio/log/launchd.out.log</string>
</dict>
</plist>
