1. pg_dump command should read config from config/database.yml
2. UUID migration should be done in multiple migration files:
    - Step 1: Create SQL backup of old table
    - Step 2: Create new table using UUID as primary key, retaining all columns from old table including an old_id column
    - Step 2 Note: Check that foreign key types match (ie. use t.uuid if foreign key references UUID, otherwise retain whatever is in the old table)
    - Step 3: Copy data from original table and assign new UUIDs
    - Step 4: Drop dependent foreign keys
    - Step 5: Rename new table to old table name
    - Step 6: Create temporary columns in other tables to hold UUID reference to the new table using the old_id as a reference
    - Step 7: Update temporary columns with UUID references
    - Step 8: Rename old foreign key column to old_{table}_id
    - Step 9: Rename temporary columns in other referencing tables to old column names
    - Step 10: Re-add foreign keys
    - Step 11: Drop old table
    - Step 12: Check that all foreign keys were added again (check the diff on db/schema.rb after all the migrations have been run)