<% @years = {} %>
<% @amounts = {} %>

<script type="text/javascript">
	function setup() {
    return {
      activeTab: 0,
      tabs: [
          "Dividend Ladder",
          "Cash Dividends",
          "Stock Dividends",
      ]
    };
  };
</script>

<div x-data="setup()">
    <ul class="flex justify-center items-center my-4">
        <template x-for="(tab, index) in tabs" :key="index">
            <li class="cursor-pointer py-2 px-4 text-gray-500 border-b-2"
                :class="activeTab===index ? 'text-primary-500 border-primary-500' : ''" @click="activeTab = index"
                x-text="tab"></li>
        </template>
        <li class="px-4 py-2 cursor-pointer bg-primary-500">
            <%= link_to "New Cash Dividend", new_cash_dividend_path, class: "border-0" %>
        </li>
    </ul>

    <div class="bg-white p-4 text-center mx-auto border">
        <div x-show="activeTab === 0">
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <% (2018..DateTime.now.year).reverse_each do |year| %>
                            <%= render(DividendLadderComponent.new(set: @cash_dividends, costs_calculator: @costs_calculator, year: year)) %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div x-show="activeTab === 1">
            <%= render "cash_dividends/cash_dividends_tab", cash_dividends: @cash_dividends %>
        </div>
        <div x-show="activeTab === 2">
            <%= render "cash_dividends/stock_dividends_tab", stock_dividends: @stock_dividends %>
        </div>
    </div>
</div>