@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

a {
  @apply border-b;
}

.btn {
  @apply px-4 py-2 inline-flex m-2 rounded shadow;
}

.btn-primary {
  @apply bg-primary-500;
}

.dropdown:focus-within .dropdown-menu {
  opacity:1;
  transform: translate(0) scale(1);
  visibility: visible;
}

.table {
  th {
    @apply px-4 py-3 text-xs font-medium tracking-wider border border-gray-400;
  }
  td {
    @apply px-4 py-3 border border-gray-400 h-14;
  }
}

.table-striped {
  tbody tr:nth-child(even) {
    @apply bg-gray-200;
  }
}

.company-table {
  th {
    @apply px-4 py-3 text-xs font-medium text-white tracking-wider border border-gray-400;
  }
  td {
    @apply px-4 py-3 border border-gray-400 h-14;
  }
}

.dividends-table-container {
  @apply shadow overflow-hidden border-b border-gray-200 sm:rounded-lg;

  a {
    @apply border-b-2 p-1 inline-block;
  }

  table {
    @apply min-w-full divide-y divide-gray-200;
  }

  thead {
    @apply bg-gray-50;

    th {
      @apply px-4 py-3 text-xs font-medium text-gray-500 tracking-wider uppercase;
    }
  }

  tbody {
    td, th {
      @apply px-4 py-3 text-sm;
    }

    td.actions {
      @apply w-36;
    }
  }
}

.dividends-ladder-container {
  @apply overflow-hidden border-b border-gray-200 mt-4 sm:rounded-lg;

  .year-label {
    @apply font-medium text-base;
  }

  a {
    @apply px-4 py-1 m-0 mr-2 bg-primary-500 inline-block;
  }

  table {
    @apply shadow min-w-full divide-y divide-gray-200 bg-white;
  }

  thead {
    th {
      @apply px-4 py-3 text-xs font-medium tracking-wider uppercase;
    }
  }

  tbody {
    tr {
      @apply border-b border-gray-300;

      &:nth-child(odd) td {
        @apply bg-blue-50;
      }
    }

    td, th {
      @apply px-4 py-3 text-sm;
    }

    td.actions {
      @apply w-36;
    }
  }
}

.card {
  @apply p-4 rounded border-gray-400 shadow m-4;
}

.timeline-container {
  @apply m-auto flex flex-col w-2/5;

  h1 {
    @apply text-2xl mb-4;
  }

  .card {
    @apply w-1/2 mb-4;

    dl {
      div { @apply flex; }
      dd  { @apply ml-auto; }
    }

    .card-body {
      dl { @apply mt-4; }
    }

    .card-footer {
      @apply mt-4;
    }
  }

  .activity {
    @apply mr-auto;
  }

  .cash-dividend {
    @apply ml-auto;
  }
}