@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.dropdown:focus-within .dropdown-menu {
  opacity:1;
  transform: translate(0) scale(1);
  visibility: visible;
}

.company-table {
  th {
    @apply px-4 py-3 text-xs font-medium text-white tracking-wider border border-gray-400;
  }
  td {
    @apply px-4 py-3 border border-gray-400 h-14;
  }
}

.dividends-table-container {
  @apply shadow overflow-hidden border-b border-gray-200 sm:rounded-lg;

  a {
    @apply border-b-2 p-1 inline-block;
  }

  table {
    @apply min-w-full divide-y divide-gray-200;
  }

  thead {
    @apply bg-gray-50;

    th {
      @apply px-4 py-3 text-xs font-medium text-gray-500 tracking-wider uppercase;
    }
  }

  tbody {
    td, th {
      @apply px-4 py-3 text-sm;
    }

    td.actions {
      @apply w-36;
    }
  }
}

.dividends-ladder-container {
  @apply overflow-hidden border-b border-gray-200 mt-4 sm:rounded-lg;

  .year-label {
    @apply font-medium text-base;
  }

  a {
    @apply shadow border px-4 py-1 border-gray-900 text-white bg-blue-800 inline-block;
  }

  table {
    @apply shadow min-w-full divide-y divide-gray-200 bg-blue-900 text-white;
  }

  thead {
    th {
      @apply px-4 py-3 text-xs font-medium tracking-wider uppercase;
    }
  }

  tbody {
    tr {
      @apply border-b border-gray-600;

      &:nth-child(odd) td {
        @apply bg-gray-800;
      }
    }

    td, th {
      @apply px-4 py-3 text-sm;
    }

    td.actions {
      @apply w-36;
    }
  }
}

