<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.rystraum.stocks-portfolio</string>

  <key>UserName</key>
  <string>rystraum</string>

  <key>WorkingDirectory</key>
  <string>/Users/rystraum/Code/personal/stocks-portfolio</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-ilc</string>
    <string>echo ${HOME}; source $HOME/.zshrc; echo ${PATH}; date; cd /Users/rystraum/Code/personal/stocks-portfolio; rbenv rehash; type -a ruby; which ruby; rbenv version; which bundler; which gem; foreman start</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/Users/rystraum/Library/Logs/stocks-portfolio/rails-server.error.log</string>

  <key>StandardOutPath</key>
  <string>/Users/rystraum/Library/Logs/stocks-portfolio/rails-server.out.log</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>DISABLE_SPRING</key>
    <string>true</string>
  </dict>
</dict>
</plist>
