<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.rystraum.stocks-updater</string>

  <key>UserName</key>
  <string>rystraum</string>

  <key>WorkingDirectory</key>
  <string>/Users/rystraum/Code/personal/stocks-portfolio/backend</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-ilc</string>
    <string>echo ${HOME}; source $HOME/.zshrc; echo ${PATH}; date; cd /Users/rystraum/Code/personal/stocks-portfolio/backend; rbenv rehash; type -a ruby; which ruby; rbenv version; which bundler; which gem; bundle exec rails runner "Coinsph.update_all!"; bundle exec rails runner "PriceUpdateCompanies.new.run_from_console" >> /Users/rystraum/Code/personal/stocks-portfolio/backend/log/launchd.log</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>22</integer>
    <key>Minute</key>
    <integer>31</integer>
  </dict>

  <key>StandardErrorPath</key>
  <string>/Users/rystraum/Library/Logs/stocks-portfolio/launchd.error.log</string>

  <key>StandardOutPath</key>
  <string>/Users/rystraum/Library/Logs/stocks-portfolio/launchd.out.log</string>

  <key>EnvironmentVariables</key>
  <dict>
    <key>DISABLE_SPRING</key>
    <string>true</string>
  </dict>
</dict>
</plist>
