/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require dashkitty
 *= require_tree .
 *= require_self
 */

// colors
$blue: #243754;
$brown: #1f1d08;
$cream: #d3d4d6;
$darkblue: #101321;
$green: #94ae3f;
$offwhite: #ebebeb;

// breakpoints
$medium: 1080px;
$small: 950px;
$mini: 770px;
$extramini: 540px;

// alerts

.alert {
    z-index: 1030;
    position: fixed;
    top: 55px;
    right: 0;
    max-width: 45%;
    min-width: 45%;

    @media (max-width: $small) {
        top: 105px;
        max-width: 60%;
        min-width: 60%;
    }

    @media (max-width: $mini) {
        top: 105px;
        max-width: 80%;
        min-width: 80%;
    }
}

// navigations
.main-nav {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbar {
  background-color: $darkblue;
}

.navbar-collapse {
  margin-right: 0rem;
}

ul#dividends_tab li a {
  @media (max-width: $mini) {
    font-size: 150%;
  }

  @media (max-width: $extramini) {
    font-size: 120%;
  }
}

.dropdown-menu a:hover {
  background-color: $offwhite;
}

// containers
.main-container {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.body-container {
  position: relative;
  bottom: 0;
  top: 20px;
  width: 100%;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.yield-padding {
  padding: 3rem 2rem;
}

// html tags
.yield-container {
  padding: 16px;
  margin-top: 30px;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

div {
  &.field,
  &.actions {
    margin-bottom: 10px;
  }
}

dl {
  margin: 0;
}

dl div {
  display: flex;
}

dd {
  margin-left: auto;
  text-align: right;
}

dl.price-update {
  dt {
    width: 5rem;
    margin-right: 1rem;
  }

  dd {
    margin-left: 1rem;
  }
}

label {
  display: block;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.table thead tr th {
  padding: 5px;
}

.table tbody tr td {
  padding: 6px;
}

table thead tr th a {
  color: $cream;

  &:hover {
    color: $offwhite;
  }
}

table.table-hover tbody tr:hover {
  background-color: $cream!important;
}

td {
  padding: 0 5px 7px;
}

th {
  padding-bottom: 5px;
}

thead th {
  background-color: $blue!important;
}

.text-green {
  color: green;
  display: inline-block;
}

.text-red {
  color: red;
  display: inline-block;
}

.inactive {
  color: white;

  &:nth-child(2n) {
    color: white;
  }

  a {
    color: white;
  }

  .text-red,
  .text-green {
    background-color: rgba(255,255,255,0.8);
  }

}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#notice {
  color: green;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}