/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.r-align {
  text-align: right;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

table {
  border-collapse: collapse;
}

tr:nth-child(2n) {
  background-color: #ddd;
}

th {
  font-weight: bold;
}

th,
td {
  padding: 0.5rem 1rem;
}

.card {
  width: 20rem;
  margin-bottom: 1rem;
  display: block;
  padding: 0.5rem;
}

.card-body h3 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 100%;
}

.card-footer {
  font-size: 80%;
  color: #aaa;
  margin-top: 0.4rem;
}

.card-footer h4 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

dl {
  margin: 0;
}

dl div {
  display: flex;
}

dd {
  margin-left: auto;
  text-align: right;
}

dl.price-update dt {
  width: 5rem;
  margin-right: 1rem;
}

dl.price-update dd {
  margin-left: 1rem;
}
