// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$offwhite: #ebebeb;

option:first-of-type {
  color: #d1d1d1;
}

.company-new {
  position: fixed;
  height: 100%;
  margin-top: 15px;
  margin-bottom: 10px;

  .card {
    background-color: $offwhite;
  }
}

.company-table {
  margin-left: 26.5%;

  .company-row td {
    padding: 0.5rem;
  }
}


@media (max-width: 653px) {
  .company-new {
    border-right: 0px!important;
    border-bottom: 1px solid #ebebeb!important;
    position: relative;
    width: 100%;
    border: none;
    overflow: hidden;
    margin-bottom: 0px;
  }

  .company-table {
    margin-left: 0px;
    margin-top: 0px;
  }

  .col-9 {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }

  th.action-column {
    width: 200px!important;
    max-width: 200px;
  }
}

.timeline-container {
  h1 {
    margin-top: 3rem;
  }

  .card {
    width: 20rem;
    margin-bottom: 1rem;
    display: block;
    padding: 1rem;

    &.stock-dividend,
    &.cash-dividend {
      margin-left: 25rem;
    }

    border: 1px solid #ccc;
  }

  .card-body {
    h3 {
      padding: 0;
      margin: 0;
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      font-size: 100%;
    }

    code {
      color: #eee;
    }
  }

  .card-footer {
    font-size: 80%;
    color: #aaa;
    margin-top: 0.8rem;

    h4 {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }
  }
}
