<div class="container-fluid">
    <p id="notice"><%= notice %></p>
    <h1 class="display-4 d-block p-2">New Activity</h1>

    <%= render 'form', activity: @activity %>

    <%= link_to 'Back', activities_path, class: "btn btn-primary btn-sm" %>

</div>

